<%= form_with(model: [@project, @project.tasks.build], local: true) do |form| %>
  <%# if @task && @task.errors.any? %>
  <!--    <div id="error_explanation">-->
  <!--      <h2><%#= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>-->

  <!--      <ul>-->
  <%# @task.errors.full_messages.each do |message| %>
  <!--          <li><%#= message %></li>-->
  <%# end %>
  <!--      </ul>-->
  <!--    </div>-->
  <%# end %>

  <%= form.text_field :description, placeholder: 'Add task' %>
  <%= form.collection_select(:parent_task_id, Task.all, :id, :description, :prompt => true) %>
  <%= form.text_field :date, 'data-role' => 'calendarpicker' %>
  <%= form.text_field :time, 'data-role' => "timepicker", 'data-seconds' => "false" %>
  <%= form.select :priority, (1..5) %>
  <%= form.submit :'Submit' %>
<% end %>
