<% if task.completed %>
  <p>
    <%= link_to complete_project_task_path(task.project, task, complete_status: {completed: false}), method: :patch do %>
      <input type="checkbox" checked>
    <% end %>
    <strike><%= task.description %></strike>
    <%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% else %>
  <p>
    <%= link_to complete_project_task_path(task.project, task, complete_status: {completed: true}), method: :patch do %>
      <input type="checkbox">
    <% end %>
    <%= task.description %>
    <%= link_to 'Edit', edit_project_task_path(task.project, task) %> |
    <%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<p>
  <strong>Date:</strong>
  <%= task.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= task.time.strftime("%H:%M") %>
</p>

<p>
  <strong>Priority:</strong>
  <%= task.priority %>
</p>